    h1{
      color : #301818;
      font-size: 3vw;
    }
    h2{
      color : #301818;
    }
    body{
      background-color: #CD853F;
    }
    ul {
      list-style-type: none;
      float : right;
      position: relative;
      right : 1%;
      top: 1%;
      padding: 0;
      background-color: #D86000;
      width: 15%;
      border: 1px solid #000000; 
      position: fixed; 
    }
    li{
      border-bottom: 1px solid #000000;
      text-align: center;
    }
    li a {
      display: block;
      text-decoration: none;
      font-size: 1.5vw;
      color : #FFFFFF;
    }
    li a:hover:not(.active) {
      background-color: #301818;
      color: #FFFFFF;
    }
    li:last-child {
      border-bottom: none;
    }
    .active {
      background-color: #189090;
      color: #FFFFFF;
      font-size: 1.5vw;
    }
    hr.a{
      size: "2";
      border-color: #301818;
      background-color : #301818;
    }
    img.e{
      width: 10%;
      height : auto;
    }
    img.h{
      position: absolute;
      left: 37.5%;
      right: 37.5%;
      top: 1%;
      width: 25%;
      height: auto;
    }
